extends ../../layouts/default.pug

block main 
  if role.permissions.includes("products_view")
    h1(class="mb-4") Chi tiết sản phẩm 
    
    if product.title 
      div(class="mb-4") 
        h2 <b>#{product.title}</b>
    
    if category 
      div(class="mb-4") Danh mục: <b>#{category}</b>
    
    if product.price 
      div(class="mb-4") Giá: <b>#{product.price}$</b>
    
    if product.discountPercentage 
      div(class="mb-4") Giảm giá: <b>#{product.discountPercentage}%</b>
    
    if product.stock 
      div(class="mb-4") Còn lại: <b>#{product.stock}</b>

    if product.thumbnail 
      .mb-4 
        img(
          src=product.thumbnail 
          style="width: 100px"
        ) 
    
    if product.status 
      .mb-4 
        span Trạng thái:
        if product.status == "active"
          span(class="badge text-bg-success") Hoạt động
        else
          span(class="badge text-bg-danger") Dừng hoạt động

    if product.position 
      div(class="mb-4") Vị trí: <b>#{product.position}</b>

    if product.description 
      div(class="mb-4") !{product.description}
    
    if role.permissions.includes("products_edit")
      a(
        href=`${prefixAdmin}/products/edit/${product.id}`
        class="btn btn-success"
      ) Chỉnh sửa sản phẩm