extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main
  +alert-success(5000)
  +alert-error(5000)

  .container.my-3 
    .row 
      .col-12 
        +box-head("Đặt hàng")

    .row 
      .col-12 
        if product
          table(class="table table-bordered")
            thead 
              tr 
                th Ảnh 
                th Tên 
                th Giá
                th Số lượng
                th Tổng tiền   
            tbody 
              tr 
                td 
                  img(
                    src=product.thumbnail
                    alt=product.title
                    width="80px"
                  )
                td #{product.title}
                td #{product.priceNew}$
                td 1
                td #{product.priceNew}$
        else 
          tr 
            td(
              colspan="7"
              class="text-center"
            ) Giỏ hàng trống 

      h3(class="text-right") Tổng đơn hàng: #{product.priceNew}$

    .row 
      .col-12 
        .card.p-4.my-4 
          form(
            action=`/checkout/order?buynow=${product._id}`
            method="POST"
          )
            if user
              div(class="form-group") 
                label(for="fullName") Họ tên 
                input(
                  type="text"
                  class="form-control"
                  id="fullName"
                  name="fullName"
                  value=user.fullName
                  required 
                )
              div(class="form-group") 
                label(for="phone") Số điện thoại  
                input(
                  type="phone"
                  class="form-control"
                  id="phone"
                  name="phone"
                  value=user.phone
                  required
                )
              div(class="form-group mt-2") 
                label(for="address") Địa chỉ
                input(
                  type="text"
                  class="form-control"
                  id="address"
                  name="address"
                  value=user.address
                  required
                )
            else  
              div(class="form-group") 
                label(for="fullName") Họ tên 
                input(
                  type="text"
                  class="form-control"
                  id="fullName"
                  name="fullName"
                  required 
                )
              div(class="form-group") 
                label(for="phone") Số điện thoại  
                input(
                  type="phone"
                  class="form-control"
                  id="phone"
                  name="phone"
                  required
                )
              div(class="form-group mt-2") 
                label(for="address") Địa chỉ
                input(
                  type="text"
                  class="form-control"
                  id="address"
                  name="address"
                  required
                )
            div(class="form-group mt-2")
              button(
                type="submit"
                class="btn btn-success btn-block"
              ) ĐẶT HÀNG
