include ../mixins/sub-menu.pug

header.header 
  .container 
    .row
      .col-3 
        .inner-logo 
          a(href="/")
            img(src=setting.logo alt="logo")

      .col-4
        form(
          action="/search"
          method="GET"
        )
          .input-group 
            input(
              type="text"
              placeholder="Nhập từ khóa..."
              name="keyword"
              class="form-control"
              value=keyword
            )
            .input-group-append 
              button(
                class="btn btn-success"
                type="submit"
              ) Tìm 

      .col-5
        .inner-menu 
          ul 
            li 
              a(href="/") Trang chủ
            li(class="sub-menu")
              - const pathProduct = "/products"
              a(href=pathProduct) Sản phẩm
              +sub-menu(pathProduct, category)
            li 
              a(href="/cart") Giỏ hàng (#{miniCart ? miniCart.totalQuantity : 0})
            if !user
              li 
                a(href="/user/login") Đăng nhập
              li 
                a(href="/user/register") Đăng ký
            else 
              li 
                a(href="/chat") Chat
              if user.fullName != ""
                li 
                  a(href="/user/detail") #{user.fullName}
              else 
                li 
                  a(href="/user/detail") Tài khoản
              li 
                a(href="/user/logout") Đăng xuất
    