extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block main 
  +alert-error(3000)

  h1 Thêm mới danh mục sản phẩm

  form(
    action=`${prefixAdmin}/products-category/create`
    id="form-create-category"
    method="POST"
    enctype="multipart/form-data"
  )
    div(class="form-group mb-2")
      label(for="title") Tiêu đề
      input(
        type="text"
        id="title"
        name="title"
        class="form-control"
        required
      )
    div(class="form-group mb-2")
      label(for="parent_id") Danh mục cha
      select(
        id="parent_id"
        name="parent_id"
        class="form-control"
      )
        option(value="") -- Chọn danh mục cha --
        if records
          +select-tree(records)

    div(class="form-group mb-2")
      label(for="description") Mô tả
      textarea(
        class="form-control textarea-mce"
        id="description"
        name="description"
        rows="5"
      )
    //- div(
    //-   class="form-group mb-2"
    //-   upload-image
    //- )
    //-   label(for="thumbnail" class="d-block mb-2" style="width: 30px") Ảnh
    //-   input(
    //-     type="file"
    //-     id="thumbnail"
    //-     name="thumbnail"
    //-     accept="image/*"
    //-     upload-image-input
    //-   )
    //-   span(close-image-preview class="btn btn-warning") Xóa ảnh
    //-   img(
    //-     src=""
    //-     upload-image-preview
    //-     class="image-preview"
    //-   )
    div(
      class="form-group mb-2"
      upload-image
    )
      label(for="position") Vị trí
      input(
        type="number"
        id="position"
        name="position"
        class="form-control"
        placeholder="Tự động tăng"
        min="0"
      )
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        id="status"
        name="status"
        value="active"
        class="form-check-input"
        checked
      )
      label(for="status" class="form-check-label") Hoạt động
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        id="status"
        name="status"
        value="inactive"
        class="form-check-input"
      )
      label(for="status" class="form-check-label") Dừng hoạt động
    button(type="submit" class="btn btn-primary d-block") Tạo mới 