mixin table-tree(records, level = 1)
  each item, index in records
    - const prefix = Array(level + 1).join("-- ")
    tr.mb-2  
      td 
        input(type="checkbox" name="id" value=item.id) 
      td #{item.index}
      td #{prefix}#{item.title}
      td 
        input(
          type="number"
          name="position"
          value=item.position
          style="width: 50px"
          min="1"
        )
      td 
        if (item.status == "active")
          a(
            href="javascript:;" 
            data-status=item.status
            data-id=item.id 
            button-change-status
            class="badge text-bg-success"
          ) Hoạt động 
        else 
          a(
            href="javascript:;" 
            data-status=item.status
            data-id=item.id 
            button-change-status
            class="badge text-bg-danger"
          ) Dừng hoạt động 
      td 
        a(
          href=`${prefixAdmin}/products/detail/${item.id}`
          class="btn btn-secondary btn-sm"
          button-edit-item
        ) Chi tiết
        a(
          href=`${prefixAdmin}/products/edit/${item.id}`
          class="btn btn-warning btn-sm"
          button-edit-item
        ) Sửa
        button(
          class="btn btn-danger btn-sm ml-1"
          id="button-delete-item"
          value=item.id
        ) Xóa
    if item.children && item.children.length > 0
      +table-tree(item.children, level + 1)