include ./moment.pug

mixin table-tree(records, level = 1)
  each item, index in records
    - const prefix = Array(level + 1).join("-- ")
    tr.mb-2 
      if role.permissions.includes("products-category_edit")
        td 
          input(type="checkbox" name="id" value=item.id) 
      td #{item.index}
      td #{prefix}#{item.title}
      td 
        input(
          type="number"
          name="position"
          value=item.position
          style="width: 50px"
          min="1"
        )
      td 
        if (item.status == "active")
          if role.permissions.includes("products-category_edit")
            a(
              href="javascript:;" 
              data-status=item.status
              data-id=item.id 
              button-change-status
              class="badge text-bg-success"
            ) Hoạt động 
          else
            span(
              data-status=item.status
              data-id=item.id 
              class="badge text-bg-success"
            ) Hoạt động 
        else 
          if role.permissions.includes("products-category_edit")
            a(
              href="javascript:;" 
              data-status=item.status
              data-id=item.id 
              button-change-status
              class="badge text-bg-danger"
            ) Dừng hoạt động 
          else
            span(
              data-status=item.status
              data-id=item.id 
              class="badge text-bg-danger"
            ) Dừng hoạt động 
      td 
        - const updatedBy = item.updatedBy.slice(-1)[0]
        if updatedBy
          span #{updatedBy.fullName}
          +formatDateTime(updatedBy.updatedAt)
      td 
        a(
          href=`${prefixAdmin}/products-category/detail/${item.id}`
          class="btn btn-secondary btn-sm"
          button-edit-item
        ) Chi tiết
        if role.permissions.includes("products-category_edit")
          a(
            href=`${prefixAdmin}/products-category/edit/${item.id}`
            class="btn btn-warning btn-sm"
            button-edit-item
          ) Sửa
        if role.permissions.includes("products-category_delete")
          button(
            class="btn btn-danger btn-sm ml-1"
            id="button-delete-item"
            value=item.id
          ) Xóa
    if item.children && item.children.length > 0
      +table-tree(item.children, level + 1)
  
  form(
    action=""
    method="POST"
    id="form-delete-item"
    data-path=`${prefixAdmin}/products-category/delete-item`
  )