extends ../../layouts/default.pug 
include ../../mixins/box-head.pug 

block main 
  .container.my-3 
    .row 
      .col-12 
        +box-head(titlePage)

    .row 
      .col-12 
        .chat(my-id=user._id)
          .inner-head 
            .inner-avatar TH
            .inner-name Trí Huỳnh
          .inner-body 
            each chat in chats 
              div(class=(chat.user_id == user._id ? "inner-outgoing" : "inner-incoming"))
                if chat.user_id != user._id
                  .inner-name #{chat.fullName}
                if chat.content
                  .inner-content #{chat.content}
                if chat.images.length
                  .inner-images
                    each image of chat.images 
                      img(src=image)
            .inner-list-typing
              .typing-item
                //- .avatar
          div(class="custom-file-container" data-upload-id="upload-images")
          .inner-foot 
            form(
              class="inner-form"
              action=""
            )
              input(
                type="text"
                placeholder="Nhập nội dung..."
                autocomplete="off"
                name="content"
              )
              label(
                class="btn d-flex align-items-center"
                for="file-upload-with-preview-upload-images"
              )
                i.fa-solid.fa-image
              span.btn.btn-icons.d-flex.align-items-center 
                i.fa-regular.fa-face-smile
              button 
                i.fa-solid.fa-paper-plane

  div(class="tooltip" role="tooltip")
    emoji-picker.light