extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block main
  if role.permissions.includes("articles_edit") 
    +alert-success(4000)
    +alert-error(3000)

    h1(class="mb-4") Chỉnh sửa sản phẩm
    
    if (record)
      form(
        action=`${prefixAdmin}/articles/edit/${record.id}?_method=PATCH`
        id="form-edit-record"
        method="POST"
        enctype="multipart/form-data"
      )
        div(class="form-group mb-2")
          label(for="title") Tiêu đề
          input(
            type="text"
            id="title"
            name="title"
            class="form-control"
            value=record.title
            required
          )
        div(class="form-group mb-2")
          label(for="category") Danh mục
          select(
            id="category"
            name="category"
            class="form-control"
          )
            option(value="") -- Chọn danh mục --
            if records
              +select-tree(records, 1, record.category)
        div(class="form-group mb-2")
          label(for="description") Mô tả
          textarea(
            class="form-control textarea-mce"
            id="description"
            name="description"
            rows="5"
          ) #{record.description}
        div(
          class="form-group mb-2"
          upload-image
        )
          label(for="thumbnail" class="d-block mb-2" style="width: 30px") Ảnh
          input(
            type="file"
            id="thumbnail"
            name="thumbnail"
            accept="image/*"
            upload-image-input
          )
          span(close-image-preview class="btn btn-warning") Xóa ảnh
          img(
            src=record.thumbnail
            upload-image-preview
            class="image-preview"
          )
        div(
          class="form-group mb-2"
          upload-image
        )
          label(for="position") Vị trí
          input(
            type="number"
            id="position"
            name="position"
            class="form-control"
            min="0"
            value=record.position
          )
        div(class="form-group form-check form-check-inline")
          input(
            type="radio"
            id="status"
            name="status"
            value="active"
            class="form-check-input"
            checked=(record.status == "active")
          )
          label(for="status" class="form-check-label") Hoạt động
        div(class="form-group form-check form-check-inline")
          input(
            type="radio"
            id="status"
            name="status"
            value="inactive"
            class="form-check-input"
            checked=(record.status == "inactive")
          )
          label(for="status" class="form-check-label") Dừng hoạt động
        button(type="submit" class="btn btn-primary d-block mt-3") Cập nhật