header.header 
  .container-fluid 
    .row.align-items-center 
      .col-5
        .inner-logo 
          a(href="/admin/dashboard" class="fs-2 text-white") ADMIN
            //- img(src=setting.logo)

      .col-7
        div(style="text-align: right")
          a(
            href=`${prefixAdmin}/my-account`
            class="btn btn-primary btn-sm me-2"
          ) #{user.fullName}
          a(
            href=`${prefixAdmin}/auth/logout`
            class="btn btn-danger btn-sm"
          ) Đăng xuất